:root {
    --main-background-color: #2c2b39;
    --main-light-background-color: #EDF7D2;
    --main-font: "Khand", sans-serif;
    --main-text-color: #EDF7D2;
    --main-dark-text-color: #2c2b39;
}

[data-theme='dark'] {
    --main-background-color: #2c2b39;
    --main-text-color: #EDF7D2;
    --toggle-bg: #EDF7D2;
	--toggle-fg: #ddd000;

}

[data-theme='light'] {
    --main-background-color: #EDF7D2;
    --main-text-color: #2c2b39;
    --toggle-bg: #585671;
    --toggle-fg: #323041;
}

body {
	margin: 0;
	transition: background-color 0.25s ease-in-out;
    background-color: var(--main-background-color);
    font-family: var(--main-font);
    color: var(--main-text-color);
}

a {
    text-decoration: none;
    font-size: 1.3em;
    color: var(--main-text-color);
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0.5em 4em;
    margin: 0.4em;
}

.logo {
    width: 45px;
    color: white;
    padding-right: 1em;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 1em; 
}

.links {
    display: flex;
    align-items: center;
    gap: 1em; 
}
